*{
    font-family: 'ADLaM Display', cursive;
    font-family: 'Lobster', cursive;
    font-weight: 40px;
    font-size: 20px;
}

/*object-fit: ndica cómo el contenido de un elemento reemplazado debería redimensionarse para ajustarse a su contenedor y este tiene varios valores los cuales son: 
none: que toma las medidas de la imagen original*/

.caja{
    margin: 25px;
    height: 300px;
    height: 500px;
}

.caja img{
    height: 100%;
    width: 100%;
    border:2px solid red ;
    object-fit: none;
}