@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');

body{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
}

.container-header{
    background-color:#294d61;
    width: 100vw;
    height: 80px;
}
a[href]{
    all: unset;

}
.container-header_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 30px;
    list-style-type: none;
    color: #6DA5C0;
    text-align: center;
    cursor: pointer;
}
.container-header_text li {
    margin: 20px 10px;
}
.container-header_text:active{
    transform: scale(0.98);
    color: #0c7073;
}
.container-header_text:focus{
    outline: 0;
}
.container-header_text .active{
    color: #0f989c;
    transition: color 0.5S ease-in ;
}



